:root {
  --main-title-color: #fff;
  --secondary-title-color: #2e2f42;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background-color: var(--main-title-color);
  color: var(--secondary-title-color);
}

.header {
  font-family: 'Raleway';
  font-style: normal;
  text-decoration: none;
  list-style-type: none;
}
.address-item {
  text-decoration: none;
  font-style: normal;
  list-style-type: none;
}
.header-logo1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  /* NAVY BLUE */
  color: var(--secondary-title-color);
}
.header-logo2 {
  color: #4d5ae5;
}
.header-list {
  text-decoration: none;
  list-style-type: none;
}

.header-item {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: var(--secondary-title-color);
}

.header-address {
  font-family: 'Roboto';
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
}

/* ---------------hero-------------------------- */
.hero {
  background-color: var(--secondary-title-color);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.header-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.04em;
  color: var(--main-title-color);
  cursor: pointer;
}

.Advantages-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: var(--secondary-title-color);
}

.Advantages-desc {
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
}
.product {
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /* NAVY BLUE */
  color: var(--secondary-title-color);
}
.team {
  background-color: #f4f4fd;
  font-size: 36px;
  line-height: 1.11;
  /* identical to box height, or 111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /* NAVY BLUE */
  color: var(--secondary-title-color);
}
.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: var(--secondary-title-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
}
.footer {
  background-color: var(--secondary-title-color);
}
.footer-logo1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc (21 / 18);
  /* identical to box height */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* IRIS */
  color: #4d5ae5;
}
.footer-logo2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: calc (21 / 18);
  /* identical to box height */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* IRIS */
  color: #f4f4fd;
}
.footer-desc {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* or 150% */
  letter-spacing: 0.02em;
  /* CORNFLOWER */
  color: #e7e9fc;
}
.list {
  list-style: none;
}

/* ---------------------portfolio ---------------------------*/
.button-list,
.header-ul,
.header-address {
  text-decoration: none;
  list-style-type: none;
}
.button-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.04em;
  border: none;
  color: #4d5ae5;
  background: #f4f4fd;
  cursor: pointer;
}
.button-list .button-item:hover,
.button-list .button-item:focus {
  color: var(--main-title-color);
  background-color: #404bbf;
}
[href]:hover,
[href]:focus {
  color: #404bbf;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: var(--secondary-title-color);
}
.portfolio-desc {
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
}
